@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/source-sans-pro-latin-400-normal.woff");
  }
  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/source-sans-pro-latin-600-normal.woff");
  }
  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/source-sans-pro-latin-700-normal.woff");
  }

  body {
    @apply text-neutral-600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary mb-2 leading-tight;
  }
  h1,
  .h1 {
    @apply text-5xl lg:text-7xl mb-4 font-bold;
  }
  h2,
  .h2 {
    @apply text-4xl lg:text-6xl lg:mb-4;
  }
  h3,
  .h3 {
    @apply text-2xl lg:text-5xl;
  }
  h4,
  .h4 {
    @apply text-lg lg:text-3xl;
  }
  h5,
  .h5 {
    @apply text-base lg:text-xl;
  }
  h6,
  .h6 {
    @apply text-base lg:text-lg mb-1;
  }
  .h0 {
    @apply text-6xl lg:text-8xl font-bold;
  }
  .h0 + h5 {
    @apply font-bold;
  }

  .form-control .label {
    @apply font-semibold p-0;
  }
  .form-control > .label {
    @apply pb-2;
  }
  .form-control.checkbox-privacy .label {
    @apply font-normal p-0;
  }

  .form-control .input,
  .form-control .textarea,
  .form-control .select {
    @apply border-2 border-neutral-500 bg-neutral-300 text-neutral-900 px-4 py-0 font-semibold h-auto text-base;
    &:focus {
      @apply bg-white;
      outline: none;
    }
  }
  .form-control .textarea,
  .form-control .input {
    &:not(:placeholder-shown):not(:required),
    &:required:valid {
      @apply bg-white;
      outline: none;
    }
  }
  .form-control .select {
    @apply min-h-0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  .form-control .select[selected] {
    @apply bg-white;
  }
  .form-control option[value=""][disabled][selected] {
    @apply bg-neutral-300;
  }

  .form-control .textarea {
    @apply h-24 py-2 leading-5;
  }
}

.btn {
  @apply px-6 h-auto min-h-0 leading-6 py-2 normal-case whitespace-nowrap;
}

.btn[disabled]:hover,
.btn[disabled]:active {
  pointer-events: none;
  --tw-border-opacity: 0;
  background-color: hsl(var(--n) / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
  color: hsl(var(--bc) / var(--tw-text-opacity));
  --tw-text-opacity: 0.2;
}

.badge {
  @apply mr-2 mb-2 px-3 py-1 mt-2 h-auto rounded-lg border-2 text-sm font-semibold whitespace-nowrap;
}

.btn-link {
  @apply bg-white text-primary px-0;
}

.btn-outline-primary {
  @apply bg-white text-primary border border-primary;
  &:hover {
    @apply bg-primary text-white;
  }
}

.btn-small {
  @apply py-1;
}

.btn-none {
  @apply bg-transparent w-10 h-8 flex items-center justify-center rounded-md border border-transparent text-neutral-600;
}

.toggle-checkbox input[type="checkbox"] {
  @apply hidden;
}
.toggle-checkbox input[type="checkbox"]:checked + label svg:first-child {
  @apply hidden;
}

.toggle-checkbox input[type="checkbox"]:checked + label svg:last-child {
  @apply block h-6 w-6;
}
