@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/source-sans-pro-latin-400-normal.woff");
  }
  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/source-sans-pro-latin-600-normal.woff");
  }
  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/source-sans-pro-latin-700-normal.woff");
  }
  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/source-sans-pro-latin-900-normal.woff");
  }

  html {
    scroll-behavior: smooth;
  }
  body {
    @apply mv-text-neutral-600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mv-text-primary mv-mb-2 mv-leading-tight;
  }

  h1,
  .h1 {
    @apply mv-text-5xl lg:mv-text-7xl mv-mb-4 mv-font-bold;
  }

  h2,
  .h2 {
    @apply mv-text-4xl lg:mv-text-6xl lg:mv-mb-4;
  }
  h3,
  .h3 {
    @apply mv-text-2xl lg:mv-text-5xl;
  }
  h4,
  .h4 {
    @apply mv-text-lg lg:mv-text-3xl;
  }
  h5,
  .h5 {
    @apply mv-text-base lg:mv-text-xl;
  }
  h6,
  .h6 {
    @apply mv-text-base lg:mv-text-lg mv-mb-1;
  }
  .h0 {
    @apply mv-text-6xl lg:mv-text-8xl mv-font-bold;
  }
  .h0 + h5 {
    @apply mv-font-bold;
  }
}

#roadmap {
  input ~ div div {
    @apply mv-transition-all mv-min-h-0 mv-p-0 mv-invisible mv-mt-0;
  }

  input ~ div div p {
    min-height: 150px;
  }

  input ~ div div:nth-child(-n + 2) {
    @apply mv-min-h-fit mv-p-6 mv-visible mv-mt-4 xl:mv-mt-6;
  }

  @media (min-width: 768px) {
    input ~ div div:nth-child(-n + 3) {
      @apply mv-min-h-fit mv-p-6 mv-visible mv-mt-4 xl:mv-mt-6;
    }
  }

  input:checked ~ div div {
    @apply mv-min-h-fit mv-p-6 mv-visible mv-mt-4 xl:mv-mt-6;
  }

  input ~ div div:first-child {
    @apply mv-mt-0;
  }
}

#faq-content {
  @apply mv-leading-[22px];
  ul {
    @apply mv-list-disc mv-flex mv-flex-col mv-gap-1;
  }
  li {
    @apply mv-ml-4;
  }
  a {
    @apply mv-font-semibold mv-cursor-pointer mv-underline hover:mv-no-underline;
  }
  p {
    @apply mv-mb-2;
  }
  p:last-child {
    @apply mv-mb-0;
  }
  ul + p {
    @apply mv-mt-2;
  }
  a + p {
    @apply mv-mt-2;
  }
  span {
    @apply mv-font-semibold;
  }
}

.rc-slider-track {
  background-color: #154194 !important;
}

.rc-slider-handle {
  border-color: #154194 !important;
  opacity: 1 !important;
  background: #154194 !important;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  box-shadow: 0 0 0 5px #2d6be1 !important;
}
