.DS_Store
.idea
.vscode
.cache
.github
.husky
.react-router
app/__mocks__
build
common/api
docker
node_modules
prisma/json-schema
prisma/migrations
prisma/scripts
scripts
supabase
templates
tests

.env
.env.example
.eslintrc.cjs
.gitignore
.npmrc
.nvmrc
.prettierignore
.prettierrc
Makefile
plopfile.ts
README.md

*.log
*.sql
*.crt
*.csv