SUPABASE_ANON_KEY=""
SUPABASE_URL=""
SESSION_SECRET=""
DATABASE_URL=""
SUPABASE_IMG_URL="http://supabase_kong_community-platform:8000"

IMGPROXY_URL=http://localhost:8080/
IMGPROXY_KEY=0123456789abcdef
IMGPROXY_SALT=0123456789abcdef

MAILER_HOST=127.0.0.1
MAILER_PORT=1025
MAILER_USER=
MAILER_PASS=

SUBMISSION_SENDER=

NEWSSUBMISSION_RECIPIENT=
NEWSSUBMISSION_SUBJECT= News Submission Subject

EVENTSUBMISSION_RECIPIENT=
EVENTSUBMISSION_SUBJECT= Event Submission Subject

MATOMO_URL=
MATOMO_SITE_ID=
MATOMO_BASE_URL=
MATOMO_TOKEN=

HASH_SECRET="secret"

FEATURES=
FEATURE_USER_IDS=

COMMUNITY_BASE_URL=