# Up to date example for .env structure see ./app/env.server.ts
# Exmple works with internal local supabase setup 
COMMUNITY_BASE_URL="http://localhost:3000" 
FEATURE_FLAGS=
HASH_SECRET=# random string, e.g. generated with `openssl rand -hex 16`
SESSION_SECRET=# JWT from supabase

SUPABASE_URL="http://localhost:8000"
SUPABASE_IMG_URL="http://kong:8000"
SUPABASE_ANON_KEY=# ANON_KEY from supabase
SERVICE_ROLE_KEY=# SERVICE_ROLE_KEY from supabase
DATABASE_URL="postgresql://postgres.<tenant>:<password>@localhost:5432/postgres" # replace <tenant> and <password> with values from supbase setup
DATABASE_DIRECT_URL="postgresql://postgres.<tenant>:<password>@localhost:5432/postgres" # replace <tenant> and <password> with values from supbase setup

IMGPROXY_URL="http://localhost:8080"
IMGPROXY_KEY=# random string
IMGPROXY_SALT=# random string

SYSTEM_MAIL_SENDER="noreply@example.com"
SUPPORT_MAIL="support@example.com"
MAILER_HOST="localhost"
MAILER_PORT="2500"
MAILER_USER=# not necessary for local development
MAILER_PASS=# not necessary for local development

MATOMO_URL=# not necessary for local development
MATOMO_SITE_ID=# not necessary for local development

SENTRY_DSN=# not necessary for local development
SENTRY_ORGANIZATION_NAME=# not necessary for local development
SENTRY_PROJECT_NAME=# not necessary for local development
