# npm
node_modules

# remix
/.cache
/build
/public/build
.env
/public/fonts

# jest
/coverage

# tailwind
/app/styles/styles.css

# misc
.idea
.vscode
.DS_Store

# Supabase
**/supabase/.branches
**/supabase/.temp

# Cypress
/cypress/videos
/cypress/screenshots
