# dumps
/dump.sql

# npm
node_modules

# remix
/.cache
/build
/public/build
.env
/public/fonts

# tailwind
/app/styles/*styles.css

# misc
.idea
.vscode
.DS_Store
/*.sql

# Supabase
**/supabase/.branches
**/supabase/.temp
**/supabase/storage

# Sentry Config File
.sentryclirc

# i18n no-cache
app/lib/no-cache/seed.ts

# Prisma crts
*.crt

# Vitest
/test-results/
/coverage

# exports
*.csv
/prisma/scripts/export-duplicate-entities/data/*.json