@tailwind base;
@tailwind components;
@tailwind utilities;

#roadmap {
  input ~ div div {
    @apply mv-transition-all mv-min-h-0 mv-p-0 mv-invisible mv-mt-0;
  }

  input ~ div div p {
    min-height: 150px;
  }

  input ~ div div:nth-child(-n + 2) {
    @apply mv-min-h-fit mv-p-6 mv-visible mv-mt-4 xl:mv-mt-6;
  }

  @media screen(md) {
    input ~ div div:nth-child(-n + 3) {
      @apply mv-min-h-fit mv-p-6 mv-visible mv-mt-4 xl:mv-mt-6;
    }
  }

  input:checked ~ div div {
    @apply mv-min-h-fit mv-p-6 mv-visible mv-mt-4 xl:mv-mt-6;
  }

  input ~ div div:first-child {
    @apply mv-mt-0;
  }

  label {
    .show-more {
      opacity: 1;
      z-index: 10;
    }
    .show-less {
      opacity: 0;
      z-index: -1;
    }
  }
  input:checked ~ div + label {
    .show-more {
      opacity: 0;
      z-index: -1;
    }
    .show-less {
      opacity: 1;
      z-index: 10;
    }
  }
}

#faq-content {
  ul {
    @apply mv-list-disc mv-flex mv-flex-col mv-gap-1;
  }
  li {
    @apply mv-ml-4;
  }
  a {
    @apply mv-font-semibold mv-cursor-pointer mv-underline hover:mv-no-underline;
  }
  p {
    @apply mv-mb-2;
  }
  p:last-child {
    @apply mv-mb-0;
  }
  ul + p {
    @apply mv-mt-2;
  }
  a + p {
    @apply mv-mt-2;
  }
  span {
    @apply mv-font-semibold;
  }
}
